<!--about me-->
<section class="about-me">
    <div class="container text-center mt-2 ">
        <div class="row border border-dark rounded-4">
          <div class="col-3 mt-2 mb-2">
            <img src="assets/IMG/picture.jpg" class="rounded-4 img-fluid" alt="profile picture" width="55%">
          </div>
          <div class="col-6 mt-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita alias totam tenetur quia, excepturi et quas aperiam nostrum eos, adipisci, officiis eum dolorum molestiae modi! Qui facere quod ab tenetur?
          </div>
          <div class="col-2">

          </div>
        </div>
      </div>
</section>
