<!--experiencia-->
<section class="experience mt-4">
    <div class="container text-center">
        <div class="row border border-dark rounded-4">
          <div class="col-3 mt-3">
            <button class="titulo rounded-3">
              <h4 class="text-center">Experiencia</h4>
            </button>
          </div>
          <div class="col-7 my-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita alias totam tenetur quia, excepturi et quas aperiam nostrum eos, adipisci, officiis eum dolorum molestiae modi! Qui facere quod ab tenetur?
          </div>
          <div class="col-2">

          </div>
        </div>
      </div>
</section>
